<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue scrolling-navbar ie-nav" [containerInside]="true">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="#">
      <strong>Navbar</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Pricing</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Opinions</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
    <!--Section: Features v.3-->
    <section>

      <!--Section heading-->
      <h2 class="h1 py-5 font-weight-bold text-center">Why is it so great?</h2>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead grey-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam.</p>

      <!--Grid row-->
      <div class="row pt-2">

        <!--Grid column-->
        <div class="col-lg-5 text-center text-lg-left">
          <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0 animated bounce infinite">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">

          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-mail-forward fa-lg indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Safety</h5>
              <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-mail-forward fa-lg indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technology</h5>
              <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row pb-3">
            <div class="col-2 col-md-1">
              <i class="fa fa-mail-forward fa-lg indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Finance</h5>
              <p class="grey-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                deleniti hic.</p>
            </div>
          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Features v.3-->

    <!-- Section: Team v.2 -->
    <section class="team-section text-center my-5">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
      <!-- Section description -->
      <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
        veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

      <!-- Grid row -->
      <div class="row text-center">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
          </div>
          <h4 class="font-weight-bold dark-grey-text my-4">Maria Kate</h4>
          <h6 class="text-uppercase grey-text mb-3">
            <strong>Photographer</strong>
          </h6>
          <!-- Facebook-->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
            <i class="fa fa-facebook"></i>
          </a>
          <!--Dribbble -->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
            <i class="fa fa-dribbble"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
          </div>
          <h4 class="font-weight-bold dark-grey-text my-4">John Doe</h4>
          <h6 class="text-uppercase grey-text mb-3">
            <strong>Front-end Developer</strong>
          </h6>
          <!--Email-->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-email">
            <i class="fa fa-envelope"></i>
          </a>
          <!-- Facebook-->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
            <i class="fa fa-facebook"></i>
          </a>
          <!-- GitHub-->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-git">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
          </div>
          <h4 class="font-weight-bold dark-grey-text my-4">Sarah Melyah</h4>
          <h6 class="text-uppercase grey-text mb-3">
            <strong>Web Developer</strong>
          </h6>
          <!--Linkedin -->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li">
            <i class="fa fa-linkedin "></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
            <i class="fa fa-twitter "></i>
          </a>
          <!--Pinterest -->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-pin">
            <i class="fa fa-pinterest "></i>
          </a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Team v.2 -->

  </div>
</main>
<!-- /.Main -->